################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/Expovgen/ExpovgenGUI/bin/Debug/net6.0-windows
/Expovgen/Libexpovgen/bin/Debug/net6.0-windows
/Expovgen/.vs
/Expovgen/ExpovgenGUI/bin/Release/net6.0-windows
/Expovgen/Libexpovgen/bin/Release/net6.0-windows
/Expovgen/ExpovgenGUI/obj/Release/net6.0-windows
