################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/Expovgen/ExpovgenGUI/bin/Debug/net6.0-windows
/Expovgen/Libexpovgen/bin/Debug/net6.0-windows
/Expovgen/.vs
/Expovgen/ExpovgenGUI/bin/Release/net6.0-windows
/Expovgen/Libexpovgen/bin/Release/net6.0-windows
/Expovgen/ExpovgenGUI/obj/Release/net6.0-windows
/Expovgen/ExpovgenGUI/bin/Publish
/Expovgen/ExpovgenGUI/bin/Publish
/setup/aeneas-windows-setup-1.7.3.0_2.exe
/setup/ImageMagick-7.1.0-48-Q16-HDRI-x64-dll.exe
/setup/bin
