################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/Expovgen/.vs
/Expovgen/ExpovgenGUI/obj/
/Expovgen/Libexpovgen/obj/
/Expovgen/ExpovgenGUI/bin/
/Expovgen/Libexpovgen/bin/
/setup/aeneas-windows-setup-1.7.3.0_2.exe
/setup/ImageMagick-7.1.0-48-Q16-HDRI-x64-dll.exe
/setup/bin
